.loading_h {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

/* 테이블 잘리는거 때문에 마진 오른쪽 왼쪽 값 0으로 설정 */
.relation_wrap .table_wrap {
  margin-left: 0px;
  margin-right: 0px;
}

/* swiper 라이브러리 크기 설정 */
.swiper-container {
  width: 85%;
  height: 100%;
}

/* 카테고리 문구 옆 아래 화살표 제거 */
.category_wrap .category_title::after {
  content: none;
}

/* 원문보기 텍스트 펼치고 접기 */
.ellipsis-content {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.ellipsis-content.on {
  max-height: 4em;
  -webkit-line-clamp: 3;
}

.loadingType {
  position: relative;
  width: 100%;
  height: 100%;
}

.loadingType #circle2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin: -20px 0 0 -20px;
  border: 4px rgba(0, 0, 0, 0.17) solid;
  border-top: 4px #364a65 solid;
  border-radius: 50%;
  -webkit-animation: spin2 1s infinite linear;
  animation: spin2 1.3s infinite linear;
  z-index: 99;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.color.all { background-color: #4b5058; }
.color.col1 { background-color: #ef6674; }
.color.col2 { background-color: #fe7d64; }
.color.col3 { background-color: #ffce55; }
.color.col4 { background-color: #a0d468; }
.color.col5 { background-color: #48cfae; }
.color.col6 { background-color: #68bedc; }
.color.col7 { background-color: #5d9cec; }
.color.col8 { background-color: #7a91f5; }
.color.col9 { background-color: #ac92ed; }
.color.col10 { background-color: #ec87bf; }
.color.col11 { background-color: #afafaf; }